In [3]:
# import necessary libraries
import numpy as np

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)

#################################################
# Flask Setup
#################################################
app = Flask(__name__)
   
#################################################
# Database Setup
#################################################
import pandas as pd
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import sqlite3

conn = sqlite3.connect("data/flp2data.sqlite")

#Create Dataframes for median income and median homeprice
all_df = pd.read_sql_query("select * from projectdata;", conn)

# home_df = pd.read_sql_query("select * from homeprice;", conn)

# sampMeta_df = pd.read_sql_query("select * from samples_metadata", conn)

In [5]:
all_df.dtypes

id         int64
state     object
abbr      object
hw_09      int64
hw_10      int64
hw_11      int64
hw_12      int64
hw_13      int64
hw_14      int64
hw_15      int64
hw_16      int64
lat       object
long      object
mhp_09     int64
mhp_10     int64
mhp_11     int64
mhp_12     int64
mhp_13     int64
mhp_14     int64
mhp_15     int64
mhp_16     int64
mhi_09     int64
mhi_10     int64
mhi_11     int64
mhi_12     int64
mhi_13     int64
mhi_14     int64
mhi_15     int64
mhi_16     int64
vc_09      int64
vc_10      int64
vc_11      int64
vc_12      int64
vc_13      int64
vc_14      int64
vc_15      int64
vc_16      int64
dtype: object

In [10]:
all_df['lat'] = pd.to_numeric(all_df['lat'], errors='coerce').fillna(0)
all_df['long'] = pd.to_numeric(all_df['long'], errors='coerce').fillna(0)

In [12]:
all_df['state'] = all_df['state'].astype('str')

In [15]:
all_df.dtypes

id          int64
state      object
abbr       object
hw_09       int64
hw_10       int64
hw_11       int64
hw_12       int64
hw_13       int64
hw_14       int64
hw_15       int64
hw_16       int64
lat       float64
long      float64
mhp_09      int64
mhp_10      int64
mhp_11      int64
mhp_12      int64
mhp_13      int64
mhp_14      int64
mhp_15      int64
mhp_16      int64
mhi_09      int64
mhi_10      int64
mhi_11      int64
mhi_12      int64
mhi_13      int64
mhi_14      int64
mhi_15      int64
mhi_16      int64
vc_09       int64
vc_10       int64
vc_11       int64
vc_12       int64
vc_13       int64
vc_14       int64
vc_15       int64
vc_16       int64
dtype: object

In [16]:
all_df.head()

   id       state abbr  hw_09  hw_10  hw_11  hw_12  hw_13  hw_14  hw_15  hw_16        lat        long  mhp_09  mhp_10  mhp_11  mhp_12  mhp_13  mhp_14  mhp_15  mhp_16  mhi_09  mhi_10  mhi_11  mhi_12  mhi_13  mhi_14  mhi_15  mhi_16  vc_09  vc_10  vc_11  vc_12  vc_13  vc_14  vc_15  vc_16
0   1     Alabama   AL     12     17     27     30     28     27     26     23  32.806671  -86.791130  111900  117600  120800  122300  122500  123800  125500  128500   41216   42081   42934   43160   43253   43511   43623   44758    122    128     63     70      2     31    114     78
1   2      Alaska   AK     13     14     12     12     12     14     15     14  61.370716 -152.404419  221300  229100  235100  237900  241800  246300  250000  257100   64635   66521   69014   69917   70760   71829   72515   74444     80    170     19    175    190    118    126     81
2   3     Arizona   AZ      0      0      0      0      0      0      0      0  33.729759 -111.431221  218400  215000  197400  175900  165100  162900  167500  176900   50296   50448   50752   50256   49774   49928   50255   51340      9    174    156     73    137      6     50    183
3   4    Arkansas   AR   2078   2944   3760   4446   4913   5394   5639   5585  34.969704  -92.373123   97200  102300  105100  106300  107300  108700  111400  114700   38542   39267   40149   40531   40768   41264   41371   42336    179     78    140     62     49     71    162    100
4   5  California   CA    558    575    679   1009   1261   1558   1717   1697  36.116203 -119.681564  479200  458500  421600  383900  366400  371400  385500  409300   60392   60883   61632   61400   61094   61489   61818   63783     40     45     39    189     75    117    199     50

In [33]:
    result_set = []
    state_set = []
    for index in range(len(all_df["id"])):
        stateList = []
        abbrList = []
        lat_data = []
        lon_data = []
        mhi_data = []
        mhp_data = []
        vcr_data = []
        hw_data = []
        stateList.append(str(all_df.iloc[index]['state']))
        abbrList.append(str(all_df.iloc[index]['abbr']))
        lat_data.append(str(all_df.iloc[index]['lat']))
        lon_data.append(str(all_df.iloc[index]['long']))
        
#         #load the MHI data
        for x in range(21,29):
            mhi_data.append(int(all_df.iloc[index,x]))
#             print(mhi_data)
#         #load the MHp data at offset 14-21
        for y in range(13,21):   
            mhp_data.append(int(all_df.iloc[index,y]))
#             print(mhp_data)
        for z in range(29,37):
            vcr_data.append(int(all_df.iloc[index,z]))
#             print(vcr_data)
#         #load the data for wells at this 3-11 location
        for xx in range(3,11):
            hw_data.append(int(all_df.iloc[index,xx]))
#             print(hw_data)
            
            
        state_set = {
            'state': stateList,
            'abbr': abbrList,
            'lat': str(lat_data),
            'lon': str(lon_data),
            'mhi_data': str(mhi_data),
            'mhp_data': str(mhp_data),
            'vcr_data': str(vcr_data),
            'hw_data': str(hw_data)
        }
        result_set.append(state_set)

In [34]:
result_set

[{'abbr': ['AL'],
  'hw_data': '[12, 17, 27, 30, 28, 27, 26, 23]',
  'lat': "['32.806671']",
  'lon': "['-86.79113000000001']",
  'mhi_data': '[41216, 42081, 42934, 43160, 43253, 43511, 43623, 44758]',
  'mhp_data': '[111900, 117600, 120800, 122300, 122500, 123800, 125500, 128500]',
  'state': ['Alabama'],
  'vcr_data': '[122, 128, 63, 70, 2, 31, 114, 78]'},
 {'abbr': ['AK'],
  'hw_data': '[13, 14, 12, 12, 12, 14, 15, 14]',
  'lat': "['61.370716']",
  'lon': "['-152.404419']",
  'mhi_data': '[64635, 66521, 69014, 69917, 70760, 71829, 72515, 74444]',
  'mhp_data': '[221300, 229100, 235100, 237900, 241800, 246300, 250000, 257100]',
  'state': ['Alaska'],
  'vcr_data': '[80, 170, 19, 175, 190, 118, 126, 81]'},
 {'abbr': ['AZ'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['33.729759']",
  'lon': "['-111.431221']",
  'mhi_data': '[50296, 50448, 50752, 50256, 49774, 49928, 50255, 51340]',
  'mhp_data': '[218400, 215000, 197400, 175900, 165100, 162900, 167500, 176900]',
  'state': ['Arizona'],
  'vcr_data': '[9, 174, 156, 73, 137, 6, 50, 183]'},
 {'abbr': ['AR'],
  'hw_data': '[2078, 2944, 3760, 4446, 4913, 5394, 5639, 5585]',
  'lat': "['34.969704']",
  'lon': "['-92.37312299999999']",
  'mhi_data': '[38542, 39267, 40149, 40531, 40768, 41264, 41371, 42336]',
  'mhp_data': '[97200, 102300, 105100, 106300, 107300, 108700, 111400, 114700]',
  'state': ['Arkansas'],
  'vcr_data': '[179, 78, 140, 62, 49, 71, 162, 100]'},
 {'abbr': ['CA'],
  'hw_data': '[558, 575, 679, 1009, 1261, 1558, 1717, 1697]',
  'lat': "['36.116203000000006']",
  'lon': "['-119.681564']",
  'mhi_data': '[60392, 60883, 61632, 61400, 61094, 61489, 61818, 63783]',
  'mhp_data': '[479200, 458500, 421600, 383900, 366400, 371400, 385500, 409300]',
  'state': ['California'],
  'vcr_data': '[40, 45, 39, 189, 75, 117, 199, 50]'},
 {'abbr': ['CO'],
  'hw_data': '[115, 180, 426, 963, 1831, 3091, 4228, 5064]',
  'lat': "['39.059810999999996']",
  'lon': "['-105.311104']",
  'mhi_data': '[56222, 56456, 57685, 58244, 58433, 59448, 60629, 62520]',
  'mhp_data': '[234100, 236600, 236700, 236800, 236200, 239400, 247800, 264600]',
  'state': ['Colorado'],
  'vcr_data': '[162, 192, 1, 11, 168, 82, 89, 176]'},
 {'abbr': ['CT'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['41.597782']",
  'lon': "['-72.755371']",
  'mhi_data': '[67721, 67740, 69243, 69519, 69461, 69899, 70331, 71755]',
  'mhp_data': '[295800, 296500, 293100, 285900, 278900, 274500, 270500, 269300]',
  'state': ['Connecticut'],
  'vcr_data': '[104, 74, 30, 21, 163, 92, 107, 57]'},
 {'abbr': ['DE'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['39.318523']",
  'lon': "['-75.507141']",
  'mhi_data': '[57618, 57599, 59317, 60119, 59878, 60231, 60509, 61017]',
  'mhp_data': '[235000, 242300, 244100, 241100, 235800, 232900, 231500, 233100]',
  'state': ['Delaware'],
  'vcr_data': '[128, 38, 54, 78, 136, 107, 121, 28]'},
 {'abbr': ['DC'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['38.897438']",
  'lon': "['-77.02681700000001']",
  'mhi_data': '[56519, 58526, 61835, 64267, 65830, 69235, 70848, 72935]',
  'mhp_data': '[440500, 443300, 442600, 443000, 445200, 454500, 475800, 506100]',
  'state': ['District of Columbia'],
  'vcr_data': '[123, 118, 8, 196, 40, 33, 88, 60]'},
 {'abbr': ['FL'],
  'hw_data': '[0, 1, 1, 1, 0, 0, 1, 0]',
  'lat': "['27.766278999999997']",
  'lon': "['-81.68678299999999']",
  'mhi_data': '[47450, 47661, 47827, 47309, 46956, 47212, 47507, 48900]',
  'mhp_data': '[211300, 205600, 188600, 170800, 160200, 156200, 159000, 166800]',
  'state': ['Florida'],
  'vcr_data': '[200, 139, 23, 184, 40, 101, 150, 189]'},
 {'abbr': ['GA'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['33.040619']",
  'lon': "['-83.643074']",
  'mhi_data': '[49466, 49347, 49736, 49604, 49179, 49342, 49620, 51037]',
  'mhp_data': '[160100, 161400, 160200, 156400, 151300, 148000, 148100, 152400]',
  'state': ['Georgia'],
  'vcr_data': '[24, 161, 120, 98, 151, 111, 38, 57]'},
 {'abbr': ['HI'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['21.094317999999998']",
  'lon': "['-157.49833700000002']",
  'mhi_data': '[64661, 66420, 67116, 67492, 67402, 68201, 69515, 71977]',
  'mhp_data': '[521500, 537400, 529500, 517000, 503100, 504500, 515300, 538400]',
  'state': ['Hawaii'],
  'vcr_data': '[196, 53, 28, 104, 165, 39, 125, 87]'},
 {'abbr': ['ID'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['44.240459']",
  'lon': "['-114.47882800000001']",
  'mhi_data': '[46183, 46423, 46890, 47015, 46767, 47334, 47583, 49174]',
  'mhp_data': '[166700, 172700, 171300, 167100, 162100, 160500, 162900, 167900]',
  'state': ['Idaho'],
  'vcr_data': '[190, 186, 193, 190, 178, 42, 103, 50]'},
 {'abbr': ['IL'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['40.349457']",
  'lon': "['-88.986137']",
  'mhi_data': '[55222, 55735, 56576, 56853, 56797, 57166, 57574, 59196]',
  'mhp_data': '[200400, 202500, 198500, 190800, 182300, 175700, 173800, 174800]',
  'state': ['Illinois'],
  'vcr_data': '[101, 115, 18, 17, 100, 14, 114, 7]'},
 {'abbr': ['IN'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['39.849426']",
  'lon': "['-86.258278']",
  'mhi_data': '[47465, 47697, 48393, 48374, 48248, 48737, 49255, 50433]',
  'mhp_data': '[120200, 123000, 123300, 123400, 122800, 122700, 124200, 126500]',
  'state': ['Indiana'],
  'vcr_data': '[71, 176, 22, 25, 6, 114, 82, 184]'},
 {'abbr': ['IA'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['42.011539']",
  'lon': "['-93.210526']",
  'mhi_data': '[48052, 48872, 50451, 51129, 51843, 52716, 53183, 54570]',
  'mhp_data': '[115800, 119200, 121300, 123000, 124300, 126300, 129200, 132800]',
  'state': ['Iowa'],
  'vcr_data': '[103, 91, 53, 167, 197, 122, 75, 143]'},
 {'abbr': ['KS'],
  'hw_data': '[1, 2, 3, 2, 2, 2, 2, 2]',
  'lat': "['38.5266']",
  'lon': "['-96.726486']",
  'mhi_data': '[48394, 49424, 50594, 51273, 51332, 51872, 52205, 53571]',
  'mhp_data': '[118500, 122600, 125500, 127400, 128400, 129400, 132000, 135300]',
  'state': ['Kansas'],
  'vcr_data': '[82, 72, 104, 40, 121, 52, 145, 118]'},
 {'abbr': ['KY'],
  'hw_data': '[537, 753, 877, 839, 970, 970, 970, 970]',
  'lat': "['37.66814']",
  'lon': "['-84.670067']",
  'mhi_data': '[41197, 41576, 42248, 42610, 43036, 43342, 43740, 44811]',
  'mhp_data': '[113100, 116800, 118700, 120000, 120400, 121600, 123200, 126100]',
  'state': ['Kentucky'],
  'vcr_data': '[118, 147, 19, 172, 109, 162, 102, 155]'},
 {'abbr': ['LA'],
  'hw_data': '[551, 1253, 2109, 2506, 2679, 2882, 3052, 3165]',
  'lat': "['31.169546']",
  'lon': "['-91.867805']",
  'mhi_data': '[42167, 43445, 44086, 44673, 44874, 44991, 45047, 45652]',
  'mhp_data': '[121300, 130000, 135400, 137700, 138900, 140400, 144100, 148300]',
  'state': ['Louisiana'],
  'vcr_data': '[162, 145, 152, 3, 148, 34, 51, 62]'},
 {'abbr': ['ME'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['44.693946999999994']",
  'lon': "['-69.381927']",
  'mhi_data': '[46541, 46933, 47898, 48219, 48453, 48804, 49331, 50826]',
  'mhp_data': '[172100, 176200, 176600, 175600, 174500, 173600, 173800, 176000]',
  'state': ['Maine'],
  'vcr_data': '[70, 121, 166, 22, 195, 43, 178, 192]'},
 {'abbr': ['MD'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['39.063946']",
  'lon': "['-76.80210100000001']",
  'mhi_data': '[69475, 70647, 72419, 72999, 73538, 74149, 74551, 76067]',
  'mhp_data': '[326400, 329400, 319800, 304900, 292700, 287500, 286900, 290400]',
  'state': ['Maryland'],
  'vcr_data': '[170, 189, 198, 98, 76, 126, 162, 157]'},
 {'abbr': ['MA'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['42.230171']",
  'lon': "['-71.530106']",
  'mhi_data': '[64496, 64509, 65981, 66658, 66866, 67846, 68563, 70954]',
  'mhp_data': '[357600, 352300, 343500, 335500, 330100, 329900, 333100, 341000]',
  'state': ['Massachusetts'],
  'vcr_data': '[163, 143, 4, 111, 37, 100, 195, 44]'},
 {'abbr': ['MI'],
  'hw_data': '[97, 104, 112, 128, 142, 158, 151, 128]',
  'lat': "['43.326617999999996']",
  'lon': "['-84.53609499999999']",
  'mhi_data': '[48700, 48432, 48669, 48471, 48411, 49087, 49576, 50803]',
  'mhp_data': '[147500, 144200, 137300, 128600, 121700, 120200, 122400, 127800]',
  'state': ['Michigan'],
  'vcr_data': '[113, 40, 110, 76, 157, 112, 41, 184]'},
 {'abbr': ['MN'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['45.694454']",
  'lon': "['-93.900192']",
  'mhi_data': '[57007, 57243, 58476, 59126, 59836, 60828, 61492, 63217]',
  'mhp_data': '[207000, 206200, 201400, 194300, 187900, 185200, 186200, 191500]',
  'state': ['Minnesota'],
  'vcr_data': '[69, 79, 170, 180, 48, 168, 1, 84]'},
 {'abbr': ['MS'],
  'hw_data': '[144, 175, 181, 177, 202, 252, 276, 272]',
  'lat': "['32.741646']",
  'lon': "['-89.678696']",
  'mhi_data': '[36796, 37881, 38718, 38882, 39031, 39464, 39665, 40528]',
  'mhp_data': '[91400, 96500, 99200, 100200, 99900, 100800, 103100, 105700]',
  'state': ['Mississippi'],
  'vcr_data': '[137, 17, 175, 58, 81, 130, 179, 180]'},
 {'abbr': ['MO'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['38.456084999999995']",
  'lon': "['-92.288368']",
  'mhi_data': '[46005, 46262, 47202, 47333, 47380, 47764, 48173, 49593]',
  'mhp_data': '[134500, 137700, 138900, 138400, 137000, 136700, 138400, 141200]',
  'state': ['Missouri'],
  'vcr_data': '[170, 145, 192, 131, 88, 10, 26, 115]'},
 {'abbr': ['MT'],
  'hw_data': '[1227, 1291, 1374, 1546, 1670, 1751, 1746, 1673]',
  'lat': "['46.921925']",
  'lon': "['-110.454353']",
  'mhi_data': '[43089, 43872, 45324, 45456, 46230, 46766, 47169, 48380]',
  'mhp_data': '[162100, 173300, 179900, 183000, 184200, 187600, 193500, 199700]',
  'state': ['Montana'],
  'vcr_data': '[34, 93, 2, 63, 125, 145, 101, 179]'},
 {'abbr': ['NE'],
  'hw_data': '[0, 0, 0, 0, 1, 0, 0, 1]',
  'lat': "['41.125370000000004']",
  'lon': "['-98.26808199999999']",
  'mhi_data': '[47995, 49342, 50695, 51381, 51672, 52400, 52997, 54384]',
  'mhp_data': '[119700, 123900, 125400, 126700, 128000, 130100, 133200, 137300]',
  'state': ['Nebraska'],
  'vcr_data': '[200, 83, 77, 28, 183, 85, 177, 150]'},
 {'abbr': ['NV'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['38.313515']",
  'lon': "['-117.055374']",
  'mhi_data': '[55585, 55726, 55553, 54083, 52800, 52205, 51847, 53094]',
  'mhp_data': '[275300, 254200, 225400, 190900, 169100, 167100, 173700, 191600]',
  'state': ['Nevada'],
  'vcr_data': '[187, 139, 190, 172, 153, 35, 15, 17]'},
 {'abbr': ['NH'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['43.452492']",
  'lon': "['-71.563896']",
  'mhi_data': '[63033, 63277, 64664, 64925, 64916, 65986, 66779, 68485]',
  'mhp_data': '[253000, 253200, 250000, 245600, 239900, 237400, 237300, 239700]',
  'state': ['New Hampshire'],
  'vcr_data': '[173, 25, 80, 56, 13, 46, 78, 131]'},
 {'abbr': ['NJ'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['40.298904']",
  'lon': "['-74.521011']",
  'mhi_data': '[68981, 69811, 71180, 71637, 71629, 72062, 72093, 73702]',
  'mhp_data': '[356800, 357000, 349100, 337900, 327100, 319900, 315900, 316400]',
  'state': ['New Jersey'],
  'vcr_data': '[1, 139, 154, 109, 79, 187, 196, 43]'},
 {'abbr': ['NM'],
  'hw_data': '[1412, 1744, 2200, 2814, 3481, 4252, 4960, 5329]',
  'lat': "['34.840515']",
  'lon': "['-106.24848200000001']",
  'mhi_data': '[42742, 43820, 44631, 44886, 44927, 44968, 44963, 45674]',
  'mhp_data': '[150500, 158400, 161800, 161500, 160000, 159300, 160300, 161600]',
  'state': ['New Mexico'],
  'vcr_data': '[63, 57, 75, 161, 129, 51, 92, 73]'},
 {'abbr': ['NY'],
  'hw_data': '[49, 56, 62, 61, 64, 63, 63, 60]',
  'lat': "['42.165726']",
  'lon': "['-74.948051']",
  'mhi_data': '[55233, 55603, 56951, 57683, 58003, 58687, 59269, 60741]',
  'mhp_data': '[300600, 303900, 301000, 295300, 288200, 283700, 283400, 286300]',
  'state': ['New York'],
  'vcr_data': '[41, 102, 143, 165, 172, 9, 75, 93]'},
 {'abbr': ['NC'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['35.630066']",
  'lon': "['-79.80641899999999']",
  'mhi_data': '[45069, 45570, 46291, 46450, 46334, 46693, 46868, 48256]',
  'mhp_data': '[143700, 149100, 152700, 153600, 153600, 153600, 154900, 157100]',
  'state': ['North Carolina'],
  'vcr_data': '[16, 135, 148, 145, 158, 48, 154, 73]'},
 {'abbr': ['ND'],
  'hw_data': '[2350, 3136, 4395, 6224, 8232, 10483, 11923, 12490]',
  'lat': "['47.528912']",
  'lon': "['-99.784012']",
  'mhi_data': '[45140, 46781, 49415, 51641, 53741, 55579, 57181, 59114]',
  'mhp_data': '[104300, 111300, 118200, 123900, 132400, 142000, 153800, 164000]',
  'state': ['North Dakota'],
  'vcr_data': '[30, 116, 0, 100, 179, 129, 77, 180]'},
 {'abbr': ['OH'],
  'hw_data': '[22, 31, 45, 124, 398, 831, 1274, 1538]',
  'lat': "['40.388783000000004']",
  'lon': "['-82.764915']",
  'mhi_data': '[47144, 47358, 48071, 48246, 48308, 48849, 49429, 50674]',
  'mhp_data': '[134500, 136400, 135600, 133700, 130800, 129600, 129900, 131900]',
  'state': ['Ohio'],
  'vcr_data': '[133, 178, 13, 177, 63, 76, 158, 61]'},
 {'abbr': ['OK'],
  'hw_data': '[3716, 4363, 5540, 7294, 9228, 11272, 12529, 12979]',
  'lat': "['35.565342']",
  'lon': "['-96.928917']",
  'mhi_data': '[41861, 42979, 44287, 44891, 45339, 46235, 46879, 48038]',
  'mhp_data': '[98800, 104300, 108400, 110800, 112800, 115000, 117900, 121300]',
  'state': ['Oklahoma'],
  'vcr_data': '[96, 173, 162, 5, 84, 96, 29, 136]'},
 {'abbr': ['OR'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['44.572021']",
  'lon': "['-122.07093799999998']",
  'mhi_data': '[49033, 49260, 49850, 50036, 50229, 50521, 51243, 53270]',
  'mhp_data': '[244200, 252600, 252600, 246100, 238000, 234100, 237300, 247200]',
  'state': ['Oregon'],
  'vcr_data': '[17, 20, 37, 32, 177, 137, 159, 117]'},
 {'abbr': ['PA'],
  'hw_data': '[232, 792, 1806, 3139, 4483, 5664, 6647, 7276]',
  'lat': "['40.590752']",
  'lon': "['-77.209755']",
  'mhi_data': '[49737, 50398, 51651, 52267, 52548, 53115, 53599, 54895]',
  'mhp_data': '[152300, 159300, 163200, 164900, 164700, 164900, 166000, 167700]',
  'state': ['Pennsylvania'],
  'vcr_data': '[137, 159, 117, 161, 82, 140, 17, 164]'},
 {'abbr': ['RI'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['41.680893']",
  'lon': "['-71.51178']",
  'mhi_data': '[55569, 54902, 55975, 56102, 56361, 56423, 56852, 58387]',
  'mhp_data': '[283700, 279300, 270600, 259400, 247400, 241200, 238000, 238200]',
  'state': ['Rhode Island'],
  'vcr_data': '[58, 34, 159, 2, 92, 100, 161, 151]'},
 {'abbr': ['SC'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['33.856891999999995']",
  'lon': "['-80.94500699999999']",
  'mhi_data': '[43572, 43939, 44587, 44623, 44779, 45033, 45483, 46898]',
  'mhp_data': '[128400, 134100, 137000, 137400, 137400, 137600, 139900, 143600]',
  'state': ['South Carolina'],
  'vcr_data': '[147, 123, 42, 77, 86, 106, 104, 160]'},
 {'abbr': ['SD'],
  'hw_data': '[102, 105, 110, 118, 133, 139, 136, 132]',
  'lat': "['44.299782']",
  'lon': "['-99.438828']",
  'mhi_data': '[44828, 46369, 48010, 49091, 49495, 50338, 50957, 52078]',
  'mhp_data': '[115400, 122200, 127000, 129800, 132400, 135700, 140500, 146700]',
  'state': ['South Dakota'],
  'vcr_data': '[63, 39, 140, 197, 133, 35, 176, 133]'},
 {'abbr': ['TN'],
  'hw_data': '[26, 33, 33, 32, 32, 32, 32, 32]',
  'lat': "['35.747845']",
  'lon': "['-86.69234499999999']",
  'mhi_data': '[42943, 43314, 43989, 44140, 44298, 44621, 45219, 46574]',
  'mhp_data': '[128500, 134100, 137200, 138700, 139200, 139900, 142100, 146000]',
  'state': ['Tennessee'],
  'vcr_data': '[113, 138, 132, 84, 33, 31, 113, 9]'},
 {'abbr': ['TX'],
  'hw_data': '[18625, 21698, 26294, 31972, 38612, 46368, 51504, 54096]',
  'lat': "['31.054486999999998']",
  'lon': "['-97.563461']",
  'mhi_data': '[48199, 49646, 50920, 51563, 51900, 52576, 53207, 54727]',
  'mhp_data': '[118900, 123500, 126400, 128000, 128900, 131400, 136000, 142700]',
  'state': ['Texas'],
  'vcr_data': '[84, 80, 106, 117, 123, 40, 15, 168]'},
 {'abbr': ['UT'],
  'hw_data': '[31, 32, 38, 63, 106, 130, 144, 154]',
  'lat': "['40.150032']",
  'lon': "['-111.86243400000001']",
  'mhi_data': '[55642, 56330, 57783, 58164, 58821, 59846, 60727, 62518]',
  'mhp_data': '[208100, 218100, 221300, 217800, 212800, 212500, 215900, 224600]',
  'state': ['Utah'],
  'vcr_data': '[170, 190, 175, 73, 32, 142, 52, 175]'},
 {'abbr': ['VT'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['44.045876']",
  'lon': "['-72.710686']",
  'mhi_data': '[51284, 51841, 53422, 54168, 54267, 54447, 55176, 56104]',
  'mhp_data': '[200600, 208400, 213000, 215800, 216800, 216200, 217500, 218900]',
  'state': ['Vermont'],
  'vcr_data': '[198, 102, 19, 98, 34, 6, 66, 89]'},
 {'abbr': ['VA'],
  'hw_data': '[45, 68, 88, 97, 108, 113, 114, 115]',
  'lat': "['37.769337']",
  'lon': "['-78.16996800000001']",
  'mhi_data': '[60316, 61406, 63302, 63636, 63907, 64792, 65015, 66149]',
  'mhp_data': '[247100, 255100, 254600, 249700, 244600, 243500, 245000, 248400]',
  'state': ['Virginia'],
  'vcr_data': '[23, 103, 35, 58, 187, 107, 112, 115]'},
 {'abbr': ['WA'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['47.400902']",
  'lon': "['-121.490494']",
  'mhi_data': '[56384, 57244, 58890, 59374, 59478, 60294, 61062, 62848]',
  'mhp_data': '[277600, 285400, 283200, 272900, 262100, 257200, 259500, 269300]',
  'state': ['Washington'],
  'vcr_data': '[70, 18, 109, 150, 23, 43, 59, 37]'},
 {'abbr': ['WV'],
  'hw_data': '[466, 654, 899, 1188, 1570, 2013, 2306, 2522]',
  'lat': "['38.491226']",
  'lon': "['-80.954453']",
  'mhi_data': '[37356, 38380, 39550, 40400, 41043, 41576, 41751, 42644]',
  'mhp_data': '[91400, 94500, 96500, 97300, 98500, 100200, 103800, 107400]',
  'state': ['West Virginia'],
  'vcr_data': '[56, 80, 69, 187, 193, 150, 193, 178]'},
 {'abbr': ['WI'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['44.268543']",
  'lon': "['-89.616508']",
  'mhi_data': '[51569, 51598, 52374, 52627, 52413, 52738, 53357, 54610]',
  'mhp_data': '[166100, 169000, 169700, 169000, 167100, 165900, 165800, 167000]',
  'state': ['Wisconsin'],
  'vcr_data': '[99, 37, 144, 163, 124, 59, 56, 50]'},
 {'abbr': ['WY'],
  'hw_data': '[488, 510, 630, 797, 1005, 1375, 1629, 1684]',
  'lat': "['42.755966']",
  'lon': "['-107.30248999999999']",
  'mhi_data': '[51990, 53802, 56380, 56573, 57406, 58252, 58840, 59143]',
  'mhp_data': '[163400, 174000, 181900, 184400, 185900, 189300, 194800, 199900]',
  'state': ['Wyoming'],
  'vcr_data': '[182, 126, 18, 101, 141, 80, 175, 118]'},
 {'abbr': ['PR'],
  'hw_data': '[0, 0, 0, 0, 0, 0, 0, 0]',
  'lat': "['0.0']",
  'lon': "['0.0']",
  'mhi_data': '[18627, 18791, 19122, 19515, 19624, 19686, 19350, 19606]',
  'mhp_data': '[107200, 112600, 117300, 121500, 121200, 121700, 120500, 118600]',
  'state': ['Puerto Rico'],
  'vcr_data': '[26, 158, 158, 148, 187, 149, 29, 107]'}]